body {
    background-image: url("background2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: absolute;
    top: 20%;
    left: 54%;
    transform: translate(-50%, -50%);
}

.login {
    background-color: ;
    border: none;
    color: #795548;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.login {
    background-color: #795548;
    color: black;
    border: 2px solid #4e342e;
}

.login:hover {
    background-color: #4e342e;
    color: white;
}

.login {
    position: absolute;
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.login {
    font-family: 'Jim Nightshade', cursive;
}

.quote1 {
    position: absolute;
    top: 42%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.quote1 {
    font-family: 'Jim Nightshade', cursive;
}

.quote2 {
    position: absolute;
    top: 52%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.quote2 {
    font-family: 'Jim Nightshade', cursive;
}

.quote3 {
    position: absolute;
    top: 60%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.quote3 {
    font-family: 'Jim Nightshade', cursive;
}

.quote4 {
    position: absolute;
    top: 70%;
    left: 52.5%;
    transform: translate(-50%, -50%);
}

.quote4 {
    font-family: 'Jim Nightshade', cursive;
}

.quote5 {
    position: absolute;
    top: 80%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.quote5 {
    font-family: 'Jim Nightshade', cursive;
}

.if {
    position: absolute;
    top: 90%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.if {
    font-family: 'Jim Nightshade', cursive;
}