    * {
        box-sizing: border-box;
    }
    
    .container {
        position: absolute;
        top: 58%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    
    .container button {
        border: 2px solid rgb(0, 0, 0) padding: 5px;
        font-size: 30px;
        color: black;
        text-align: center;
        float: : center;
        background-color: #d2b48c;
        width: 50%;
    }
    
    .btn1 {
        font-family: 'Satisfy', cursive;
    }
    
    .btn2 {
        font-family: 'Satisfy', cursive;
    }
    
    .btn3 {
        font-family: 'Satisfy', cursive;
    }
    
    .bordure2 {
        position: absolute;
        top: 34%;
        left: 83%;
        transform: translate(-50%, -50%);
    }
    
    .logo {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .column {
        float: right;
        width: 33.33%;
        padding: 100px;
    }
    
    .row::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .description {
        font-family: Courier, monospace;
    }
    
    #topbutton {
        position: fixed;
        bottom: 50px;
        right: 20px;
        font-size: 30px;
        width: 70px;
        height: 60px;
        border: none;
        cursor: pointer;
    }
    
    .vib:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
    
    @keyframes shake {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }
        10% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }
        20% {
            transform: translate(-3px, 0px) rotate(1deg);
        }
        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }
        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }
        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }
        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }
        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }
        80% {
            transform: translate(-1px, -1px) rotate(1deg);
        }
        90% {
            transform: translate(1px, 2px) rotate(0deg);
        }
        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }
    }
    
    h3.description {
        border-style: double;
    }
    
    h3 {
        border-color: black;
    }
    
    h3.read {
        border-style: dotted;
        border-color: black;
    }